name: dorothy
description: Deployment Orchestrator - Knows how to deploy and manage bots
version: 0.1.0

server:
  host: 0.0.0.0
  port: 8005

sally:
  # Sally's API endpoint
  url: http://localhost:8004

deployment:
  # Default deployment settings
  default_server: prod
  deployment_timeout: 600  # 10 minutes
  verification_checks:
    - nginx_config
    - gunicorn_service
    - ssl_certificate
    - repository
    - virtualenv
    - permissions

bots:
  # Bot deployment configurations
  fred:
    description: Google Workspace User Management
    domain: fred.watsonblinds.com.au
    repo: git@github.com:yourorg/bot-team.git
    path: /var/www/bot-team/fred
    service: gunicorn-fred
    workers: 3

  iris:
    description: Google Workspace Reporting & Analytics
    domain: iris.watsonblinds.com.au
    repo: git@github.com:yourorg/bot-team.git
    path: /var/www/bot-team/iris
    service: gunicorn-iris
    workers: 3

  peter:
    description: Phone Directory Manager
    domain: peter.watsonblinds.com.au
    repo: git@github.com:yourorg/bot-team.git
    path: /var/www/bot-team/peter
    service: gunicorn-peter
    workers: 3

  pam:
    description: Phone Directory Presenter Bot
    domain: pam.watsonblinds.com.au
    repo: git@github.com:yourorg/bot-team.git
    path: /var/www/bot-team/pam
    service: gunicorn-pam
    workers: 3

  sally:
    description: SSH Command Executor
    domain: sally.watsonblinds.com.au
    repo: git@github.com:yourorg/bot-team.git
    path: /var/www/bot-team/sally
    service: gunicorn-sally
    workers: 2

  dorothy:
    description: Deployment Orchestrator
    domain: dorothy.watsonblinds.com.au
    repo: git@github.com:yourorg/bot-team.git
    path: /var/www/bot-team/dorothy
    service: gunicorn-dorothy
    workers: 2
