[Unit]
Description=Fred - Google Workspace User Management Bot
After=network.target

[Service]
Type=notify
User=www-data
Group=www-data
RuntimeDirectory=fred
LogsDirectory=fred
WorkingDirectory=/var/www/bot-team/fred
Environment="PATH=/var/www/bot-team/venv/bin"
EnvironmentFile=/var/www/bot-team/fred/.env
ExecStart=/var/www/bot-team/venv/bin/gunicorn \
    --config /var/www/bot-team/deployment/gunicorn/fred.py \
    app:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
