[Unit]
Description=Pam - Phone Directory Presenter Bot
After=network.target

[Service]
Type=notify
User=www-data
Group=www-data
RuntimeDirectory=gunicorn-pam
LogsDirectory=gunicorn-pam
WorkingDirectory=/var/www/bot-team/pam
Environment="PATH=/var/www/bot-team/pam/.venv/bin:$PATH"
EnvironmentFile=/var/www/bot-team/pam/.env
ExecStart=/var/www/bot-team/pam/.venv/bin/gunicorn \
    --config /var/www/bot-team/deployment/gunicorn/pam.py \
    app:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=30
PrivateTmp=true
Restart=on-failure
RestartSec=5
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
