[Unit]
Description=Fred - Google Workspace User Management Bot
After=network.target

[Service]
Type=notify
User=www-data
Group=www-data
RuntimeDirectory=gunicorn-fred
WorkingDirectory=/var/www/bot-team/fred
Environment="PATH=/var/www/bot-team/fred/.venv/bin:$PATH"
EnvironmentFile=/var/www/bot-team/fred/.env
ExecStart=/var/www/bot-team/fred/.venv/bin/gunicorn \
  --workers 3 \
  --worker-tmp-dir /dev/shm \
  --bind unix:/run/gunicorn-fred/gunicorn.sock \
  --log-level debug \
  --capture-output \
  --access-logfile - \
  --error-logfile - \
  app:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=30
PrivateTmp=true
Restart=on-failure
RestartSec=5
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
